.content{
  margin-right: 250px;
  margin-left: 250px;
}

$columnas : ("1" : "1",
    "2" : "2",
    "3" : "3",
    "4" : "4",
    "5" : "5",
    "6" : "6"
);

@function getKeyColumnas() {
  @return map-keys($columnas);
}

@function getColumnas($name) {
  @return unquote(map-get($columnas, ""+$name));
}

.l-columns{
  display: grid;
  grid-template-columns: getColumnas("1"), 1fr;
}

@each $name in getKeyColumnas(){
  .l-columns-#{$name} {
      grid-template-columns: repeat(getColumnas($name), 1fr);
  }
}
