<div class="content">
<!-- Jumbotron -->
<div class="jumbotron p-0 mt-2" *ngIf="article">
  <!-- Card image -->
  <div class="view overlay rounded-top waves-light" mdbWavesEffect>
    <img src="{{article.articleImageUrl}}" class="card-img-top" alt="Sample image">
    <a >
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>
  <!-- Card content -->
  <div class="card-body text-center mb-3">

    <!-- Title -->
    <h3 class="card-title h3 my-4"><strong>{{article.articleTitle}}</strong></h3>
    <!-- Text -->
    <p class="card-text py-2">{{article.articleContent}}</p>
    <!-- Button -->
    <a mdbBtn gradient="purple" rounded="true" class="white-text mb-4" mdbWavesEffect>Button</a>


  </div>
</div>

<div class="container mt-5 mb-2">
  <div class="row d-flex justify-content-center">
      <div class="col-md-8">
          <div class="headings d-flex justify-content-between align-items-center mb-3">
              <h5>Posts para el articulo <em>{{article.articleTitle}}</em> ({{article.posts.length}})</h5>
          </div>
          <div class="card p-3" *ngFor="let post of article.posts">
              <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center"> <img src="{{post.user.profilePicUrl}}" width="30" class="user-img rounded-circle mr-2">
                    <span><small class="font-weight-bold text-primary">{{post.user.name}} {{post.user.surname}}</small><br/>
                      <small>{{post.postContent}}</small></span> </div>
                      <small>{{parseTime(post.createdAt)}}</small>
              </div>
              <div class="action d-flex justify-content-between mt-2 align-items-center">
                  <mdb-icon icon="like"></mdb-icon>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<app-footer></app-footer>
