<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" id="0">
            <img src="../../assets/first.jpg" alt="First" class="image-resize">
            <div class="carousel-caption d-none d-md-block">
              <h5>Bienvenido a Bloggo!</h5>
              <p>Esperamos que disfrutes leyendo todo tipo de artículos aqui</p>
            </div>
          </div>
          <div class="carousel-item" id="1">
            <img src="../../assets/second.jpg" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>Aquí podras publicar todo tipo de artículos y añadir comentarios!</h5>
              <p>...</p>
            </div>
          </div>
          <div class="carousel-item" id="2">
            <img src="../../assets/third.jpg" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5>...</h5>
              <p>...</p>
            </div>
          </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
